.experience{
    width: 100%;
    overflow: hidden;
}

.container_experience{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1160px;
    margin: 0 auto;
}

.elements_title{
    display: flex;
    flex-wrap: wrap;
    
    margin: 20px 0 54px 0px;
}

.elements_title>h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100px;

    color: #FFFFFF;
}

.experience_section{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.section_block{
    width: 367px;
    height: 267px;
    border: 1px solid #3C3D4C;
    border-radius: 20px;
    margin-right: 17px;
    margin-bottom: 87px;
}

.development{
    background: url("../assets/img/experience/1.png"), black;
}

.outsourcing{
    background: url("../assets/img/experience/2.png"), black;
}

.design{
    background: url("../assets/img/experience/3.png"), black;
}

.section_block_content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.block_content_ico{
    margin-top: 31px;
    margin-bottom: 45px;
}

.block_content_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
     
    text-align: center;
    letter-spacing: -0.01em;
    
    color: #FFFFFF;
}

.experience_text{
    max-width: 859px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.experience_text>p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;

    color: #9E9EAC;
}

.run_line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    margin-bottom: 73px;
    padding-left: 84px;
}

.line_logo{
    display: flex;
    align-items: center;
}

.logo_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;

    letter-spacing: -0.01em;

    color: #FFFFFF;
    margin-left: 15px;
}